
.env
access_tokens.txt
*.pyc
lyrix_database/
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/SpotifyAPIClient.cpython-313.pyc
architectural-poc/myproj/pubspec.lock
*.lock
*.pyc
*.cc
*.cmake
*.swift
*.swift
*.h
architectural-poc/myproj/pubspec.lock
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/SpotifyAPIClient.cpython-313.pyc
