
.env
access_tokens.txt
*.pyc
lyrix_database/
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/SpotifyAPIClient.cpython-313.pyc
architectural-poc/myproj/pubspec.lock
*.lock
*.pyc
*.cc
*.cmake
*.swift
*.swift
*.h
architectural-poc/myproj/pubspec.lock
lyrix_backend/__pycache__/lyrix-server.cpython-313.pyc
lyrix_backend/__pycache__/SpotifyAPIClient.cpython-313.pyc
myproj/build/b9e9bce3516948dd03df7417c94fc03f/gen_localizations.stamp
myproj/build/b9e9bce3516948dd03df7417c94fc03f/gen_dart_plugin_registrant.stamp
myproj/build/b9e9bce3516948dd03df7417c94fc03f/_composite.stamp
myproj/.dart_tool/extension_discovery/README.md
myproj/.dart_tool/chrome-device/Default/Platform Notifications/MANIFEST-000001
myproj/.dart_tool/chrome-device/Default/Platform Notifications/LOG.old
myproj/.dart_tool/chrome-device/Default/Platform Notifications/LOG
myproj/.dart_tool/chrome-device/Default/Platform Notifications/LOCK
myproj/.dart_tool/chrome-device/Default/Platform Notifications/000003.log
myproj/.dart_tool/chrome-device/Default/Network Persistent State
myproj/.dart_tool/chrome-device/Default/MediaDeviceSalts-journal
myproj/.dart_tool/chrome-device/Default/MediaDeviceSalts
myproj/.dart_tool/chrome-device/Default/InterestGroups
myproj/.dart_tool/chrome-device/Default/Cookies-journal
myproj/.dart_tool/chrome-device/Default/Cookies
myproj/.dart_tool/chrome-device/Default/Platform Notifications/CURRENT
architectural-poc/myproj/pubspec.lock
lyrix_frontend/ios/Flutter/Debug.xcconfig
lyrix_frontend/ios/Flutter/Release.xcconfig
lyrix_frontend/ios/Podfile
lyrix_frontend/pubspec.lock
lyrix_frontend/macos/Podfile
lyrix_frontend/macos/Flutter/Flutter-Release.xcconfig
lyrix_frontend/macos/Flutter/Flutter-Release.xcconfig
lyrix_frontend/pubspec.lock
lyrix_frontend/macos/Flutter/Flutter-Release.xcconfig
lyrix_frontend/macos/Flutter/Flutter-Debug.xcconfig
lyrix_frontend/ios/Flutter/Release.xcconfig
lyrix_frontend/ios/Flutter/Debug.xcconfig
architectural-poc/myproj/pubspec.lock
lyrix_frontend/pubspec.lock
